<div class="row">
	<a class="button right-magnet" ng-href="#/edit/new" workflow="blog.create" class="right-magnet cell">
		<i18n>blog.create.blog</i18n>
	</a>
	<app-title>
		<h1><a href="#/list-blogs"><i class="blog"></i><i18n>blog.title</i18n></a></h1>
	</app-title>
</div>
<div class="row">
	<div class="four cell twelve-mobile">
		<input type="search" class="twelve cell" ng-model="display.search" i18n-placeholder="search" />
	</div>
</div>
<hr class="row" />
<div class="cards-list rigid-grid">
	<div class="card four height-two" ng-repeat="blog in blogs.all | filter:{ title: display.search } | orderBy:orderBlogs:true" ng-click="redirect('/view/[[blog._id]]')">
		<div class="row">
			<div class="illustration">
				<img skin-src="[[blog.icon]]" class="absolute" />
			</div>
			<div>
				<h3 ng-click="displayBlog(blog)"><a href="#/view/[[blog._id]]">[[blog.shortenedTitle]]</a></h3>
				<strong class="row"><i18n>blog.by</i18n> [[blog.author.username]]</strong>
			</div>
		</div>
		<div class="row">
			<div class="cell-ellipsis" ng-repeat="post in blog.fetchPosts | limitTo:2">
				<em>[[post.title]]</em> <i>[[post.created.fromNow()]]</i>
			</div>
			<div class="reduce-block-eight" ng-if="!blog.fetchPosts.length">
				<em><i18n>blog.empty</i18n></em>
			</div>
		</div>
		<authorize name="share" resource="blog" >
			<check-tool ng-model="blog.selected" ng-click="$event.stopPropagation()" ></check-tool>
		</authorize>
	</div>
</div>

<lightbox show="display.showShare" on-close="display.showShare = false">
	<container template="share"></container>
</lightbox>

<lightbox show="display.confirmRemoveBlog" on-close="display.confirmRemoveBlog = false">
	<h2><i18n>remove</i18n></h2>
	<p><i18n>confirm.remove.blog</i18n></p>
	<div class="row">
		<button ng-click="blogs.removeSelection(); display.confirmRemoveBlog = false" class="right-magnet">
			<i18n>remove</i18n>
		</button>
		<button type="button" ng-click="display.confirmRemoveBlog = false" class="right-magnet cancel">
			<i18n>cancel</i18n>
		</button>
	</div>
</lightbox>

<div class="toggle-buttons" ng-class="{ hide: blogs.selection().length < 1 }">
	<div class="row toggle">
		<a class="button" ng-href="#/edit/[[blogs.selection()[0]._id]]" ng-if="blogs.selection().length === 1" authorize="editBlog" resource="blogs.selection()">
			<i18n>properties</i18n>
		</a>
		<button ng-click="shareBlog()" authorize="share" resource="blogs.selection()">
			<i18n>share</i18n>
		</button>
		<button ng-click="display.confirmRemoveBlog = true" authorize="removeBlog" resource="blogs.selection()">
			<i18n>remove</i18n>
		</button>
	</div>
</div>
