<article class="twelve cell">
	<section class="row">
			<form data-ng-submit="savePost()">
				<input type="text" data-ng-model="post.title" i18n-placeholder="post.title.placeholder" required class="twelve cell" />
				<editor ng-model="post.content"></editor>
				<button class="right-magnet" ng-if="!blog.myRights.publishPost && blog['publish-type'] === 'RESTRAINT'">
					<i18n>submit</i18n>
				</button>
				<button class="right-magnet" ng-if="blog.myRights.publishPost || blog['publish-type'] === 'IMMEDIATE'">
					<i18n>publish</i18n>
				</button>
				<button type="button" class="right-magnet" ng-click="saveDraft()">
					<i18n>blog.save</i18n>
				</button>
				<button type="button" class="right-magnet cancel" ng-click="template.close('create-post'); redirect('/view/' + blog._id)">
					<i18n>cancel</i18n>
				</button>
			</form>
	</section>
</article>
