<article class="twelve cell">
        <section class="row">
                        <form data-ng-submit="post.publishing=true; savePublishedPost()">
                                <input type="text" data-ng-model="post.title" i18n-placeholder="post.title.placeholder" required class="twelve cell" />
                                <editor ng-model="post.content"></editor>
                                <button class="right-magnet" ng-if="!blog.myRights.publishPost && blog['publish-type'] === 'RESTRAINT'" ng-disabled="post.publishing">
                                        <i18n>submit</i18n>
                                </button>
                                <button class="right-magnet" ng-if="blog.myRights.publishPost || blog['publish-type'] === 'IMMEDIATE'" ng-disabled="post.publishing">
                                        <i18n>publish</i18n>
                                </button>
                                <button type="button" class="right-magnet" ng-click="post.publishing=true; saveDraft()" ng-disabled="post.publishing">
                                        <i18n>blog.save</i18n>
                                </button>
                                <button type="button" class="right-magnet cancel" ng-click="template.close('create-post'); redirect('/view/' + blog._id)">
                                        <i18n>cancel</i18n>
                                </button>
                        </form>
        </section>
</article>