<h2><i18n>blog.create.title</i18n></h2>
<article class="twelve cell">
	<section class="row">
		<form class="row">
			<div class="row rigid-grid">
				<div class="two cell clip height-two">
					<div class="absolute" loading-panel="upload-blog-thumbnail">
						<image-select ng-model="create.blog.thumbnail" default="/img/illustrations/blog.png"></image-select>
					</div>

				</div>
				<div class="margin-two horizontal-spacing">
					<input type="text" data-ng-model="create.blog.title" required i18n-placeholder="blog.title.placeholder" class="twelve cell" />
					<media-select ng-model="create.blog.thumbnail" label="blog.changeimage" file-format="'img'"></media-select>
				</div>


			</div>
			<div class="row">
				<input type="submit" data-ng-click="createBlog()" class="button right-magnet" i18n-value="blog.save">
				<input type="button" class="button right-magnet cancel" ng-click="defaultView()" i18n-value="cancel">
				<div class="clear"></div>
			</div>
		</form>

	</section>
</article>
