<form data-ng-submit="post.save(); post.editing = false;">
	<input type="text" ng-model="post.title" class="twelve cell" required />
	<html-editor ng-model="post.content"></html-editor>

	<button class="right-magnet" ng-click="post.save()">
		<i18n>publish</i18n>
	</button>
	<button class="right-magnet" ng-click="post.save()">
		<i18n>save</i18n>
	</button>
	<button class="right-magnet cancel" ng-click="post.editing = false;">
		<i18n>cancel</i18n>
	</button>
</form>
<div class="row"><hr /></div>
