

<form data-ng-submit="updatePost()">
	<input type="text" data-ng-model="currentPost.title" class="twelve cell" required />
	<html-editor
		file-upload-path="'/workspace/document?application=blog-' + currentBlog._id + '&protected=true'"
		ng-model="currentPost.content" notify="notify"></html-editor>

  <input type="button" class="right-magnet" i18n-value="[[getPublishButtonI18n()]]" ng-click="saveAndSubmit(currentPost)" />
  <input type="submit" class="right-magnet" ng-if="currentPost.state === 'DRAFT'"  i18n-value="blog.save" />
  <input type="button" class="right-magnet cancel" data-ng-click="currentBlogView()" i18n-value="cancel" />
</form>
<div class="row"><hr /></div>
