<h1><a ng-href="#/list-blogs"><i18n>blog.title</i18n></a></h1>
<article class="twelve cell">
	<form ng-submit="saveBlog()">
		<div class="row rigid-grid">
			<div class="two cell clip height-two" loading-panel="upload-blog-thumbnail">
				<image-select ng-model="blog.thumbnail" default="/img/illustrations/blog.png"></image-select>
			</div>
			<div class="margin-two height-two">
				<div class="twelve cell horizontal-spacing">
					<input type="text" class="twelve cell right-magnet" ng-model="blog.title" required i18n-placeholder="blog.title.placeholder" />
				</div>
				<div class="row bottom-locked">
					<button class="right-magnet">
						<i18n>blog.save</i18n>
					</button>
					<button type="button" class="right-magnet cancel" ng-click="redirect('/list-blogs')">
						<i18n>cancel</i18n>
					</button>
				</div>
			</div>
		</div>

	</form>
</article>
