<h1 class="text">[[currentBlog.title]]</h1>
<em class="medium-importance"><span translate key="blog.by"></span> <a ng-href="/userbook/annuaire#[[currentBlog.author.userId]]">[[currentBlog.author.username]]</a></em>
<div class="row">
	<hr />
</div>
<article class="row">
	<section class="row">
		<div class="reduce-block-eight">
			<div class="row content-line">
				<button ng-click="openConfirmView(removeBlog)" class="cancel" translate key="blog.delete.post"></button>
				<button ng-click="openSharingView()" translate key="share"></button>
			</div>
			<form data-ng-submit="saveBlogChanges()" class="row content-line">
				<div class="row">
					<div class="two cell clip fixed-block height-two" loading-panel="upload-blog-thumbnail">
						<image-select ng-model="currentBlog.thumbnail" default="/img/illustrations/blog.png"></image-select>
					</div>
					<div class="ten cell fixed-block height-two">
						<div class="fixed twelve cell horizontal-spacing">
							<input type="text" class="twelve cell right-magnet" data-ng-model="currentBlog.title" required />
							<media-select ng-model="currentBlog.thumbnail" label="blog.changeimage" class="small button cell" file-format="'img'"></media-select>
							<input type="button" class="small button" translate attr="value" value="blog.unsetImage" ng-click="currentBlog.thumbnail = ''"></button>
						</div>
					</div>
				</div>
				<div class="row">
					<input type="submit" class="button right-magnet" translate-attr="value" value="blog.save" data-ng-click="saveBlogChanges()">
					<input type="button" class="button right-magnet cancel" translate-attr="value" data-ng-click="defaultView()" value="cancel">
					<div class="clear"></div>
				</div>
			</form>
		</div>
	</section>
</article>
</div>
<div class="clear"></div>
</div>
