<filters ng-if="currentBlog.myRights.post.edit">
	<li ng-class="{ selected: displayOptions.showPosts }">
		<label>
			<i class="published type" tooltip="filters.published"></i>
			<input type="checkbox" ng-model="displayOptions.showPosts" />
		</label>
	</li>
	<li ng-class="{ selected: displayOptions.showDrafts }">
		<label>
			<i class="draft type" tooltip="filters.drafts"></i>
			<input type="checkbox" ng-model="displayOptions.showDrafts" />
		</label>
	</li>
	<li ng-class="{ selected: displayOptions.showSubmitted }">
		<label>
			<i class="submitted type" tooltip="filters.submitted"></i>
			<input type="checkbox" ng-model="displayOptions.showSubmitted" />
		</label>
	</li>
</filters>
