<div class="checkbox-filters">
	<div class="cell">
		<i18n>posts.filter</i18n>
	</div>
	<div class="cell checkbox-filters-row">
		<ul>
			<li>
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.all" ng-change="switchAll()" />
					<i18n>filters.all</i18n>
				</label>
			</li>
			<li>
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.published" ng-change="checkAll()" />
					<i18n>filters.published</i18n>
				</label>
			</li>
			<li>
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.draft" ng-change="checkAll()" />
					<i18n>filters.drafts</i18n>
				</label>
			</li>
			<li ng-if="blog['publish-type'] === 'RESTRAINT' || display.countSubmitted > 0">
				<label class="checkbox cell"><input type="checkbox" ng-model="display.filters.submitted" ng-change="checkAll()" />
					<i18n>filters.submitted</i18n>
				</label>
			</li>
		</ul>
	</div>
</div>
