<h1 class="text upper-title">[[currentBlog.title]]</h1>
<em class="medium-importance" ng-if="currentBlog.author">
	<i18n>blog.by</i18n>
	<a ng-href="/userbook/annuaire#[[currentBlog.author.userId]]">[[currentBlog.author.username]]</a>
</em>

<div class="clear"></div>

<article class="twelve cell" ng-if="blogs.length === 0">
	<span translate content="noblog"></span>
</article>

<div ng-include="template.containers.filters"></div>
	<div ng-if="displayOptions.showAll || displayOptions.showDrafts">
		<section data-ng-repeat="post in currentBlog.drafts | limitTo:nbResults('drafts')" class="line row"
				 ng-class="{'greyed-out': post.state !== 'PUBLISHED' }">
			<article class="reduce-block-six">
				<div ng-include="postTemplate(post)"></div>
			</article>
			<hr class="row" />
		</section>
	</div>
	<div ng-if="displayOptions.showAll || displayOptions.showSubmitted">
		<section data-ng-repeat="post in currentBlog.submitted | limitTo:nbResults('submitted')"
				 class="line row"
				 ng-class="{'greyed-out': post.state !== 'PUBLISHED' }">
			<article class="reduce-block-six">
				<div ng-include="postTemplate(post)"></div>
			</article>
			<hr class="row" />
		</section>
	</div>
	<div ng-if="displayOptions.showAll || displayOptions.showPosts">
		<section data-ng-repeat="post in currentBlog.posts | limitTo:nbResults('posts')"
				 class="line row">
			<article class="reduce-block-six">
				<div ng-include="postTemplate(post)"></div>
			</article>
			<hr class="row" />
		</section>
	</div>
	<h3 ng-if="seeMore()" class="reduce-block-eight">
		<a ng-click="addResults()" class="right-magnet">[[translate('seemore')]]</a>
		<div class="clear"></div>
	</h3>

