<share-panel resources="blog" app-prefix="'blog'" auto-close="true"></share-panel>
<div class="share" ng-show="!isCloseConfirmLoaded()">
	<h3><i18n>share.publish.title</i18n></h3>
	<div class="row publication-option">
		<label>
			<input type="radio" name="publish-type" ng-model="display.publishType" ng-change="updateOnePublishType(blog)" value="IMMEDIATE" />
			<i18n>share.publish.immediate</i18n>
		</label>
		<label>
			<input type="radio" name="publish-type" ng-model="display.publishType" ng-change="updateOnePublishType(blog)" value="RESTRAINT" />
			<i18n>share.publish.differed</i18n>
		</label>
	</div>
</div>
