<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}blog.title{{/i18n}}</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/controller.js{{/static}}" type="text/javascript"></script>
		<script type="text/ng-template" id="empty"></script>
	</head>
	<body ng-controller="BlogController">
	<portal>
	<div class="row rigid-grid">
		<div ng-include="template.containers.main">
		</div>
	</div>
	</portal>
	</body>
</html>
