<div class="open-source">
	<button ng-click="showPickBlog = true"><i18n>sniplet.add.blog</i18n></button>
</div>

<lightbox show="showPickBlog">
	<div class="row accordions">
		<article class="accordion" ng-class="{ opened: !existingBlog }">
			<h2 ng-click="existingBlog = false;"><i18n>sniplet.blog.new</i18n></h2>
			<div class="toggle">
				<div class="content">
					<p class="info"><i18n>sniplet.blog.desc</i18n></p>
					<div class="row">
						<input type="text" ng-model="blog.title" i18n-placeholder="title" class="twelve cell" />
					</div>
					<div class="row">
						<input type="button" i18n-value="sniplet.blog.create" ng-click="createBlog()" class="cell right-magnet" />
					</div>
				</div>
			</div>
		</article>
		<article class="accordion" ng-class="{ opened: existingBlog }">
			<h2 ng-click="existingBlog = true;"><i18n>sniplet.blog.choose</i18n></h2>
			<div class="toggle">
				<div class="content">
					<input type="search" ng-model="searchBlog" />
					<div class="row">
						<article class="found-resources">
							<div ng-if="searchBlog === ''" class="reduce-block-six">
								<div class="row"><i18n>sniplet.blog.search</i18n></div>
							</div>
							<ul class="illustrated-list">
								<li ng-repeat="blog in blogs.all | filter:{ title: searchBlog }" ng-click="pickBlog(blog)">
									<img skin-src="[[blog.icon]]" class="illustration" />
									<a class="name">[[blog.title]]</a>
									<em class="owner">[[blog.ownerName]]</em>
								</li>
							</ul>
						</article>
					</div>
				</div>
			</div>
		</article>
	</div>
</lightbox>