<behaviour name="update" resource="blog">
	<div class="row" style="min-height: 20px">
		<a class="button" ng-href="/blog#/new-article/[[source._id]]">Ajouter un article</a>
	</div>
</behaviour>

<div ng-repeat="post in posts" class="articles-sniplet">
	<div class="row">
		<h2 class="upper-title">[[post.title]]</h2>
		<em class="subtitle">
			<i18n>post.author</i18n> <a href="/directory/annuaire#[[post.author.userId]]">[[post.author.username]]</a> <i18n>post.date</i18n> [[formatDate(post.created.$date)]]
		</em>
	</div>
	<div bind-html="post.content"></div>
</div>