<resource-right name="update" resource="blog" class="articles-sniplet">
	<div class="row" style="min-height: 20px">
		<input type="button" ng-click="display.showCreateBlog=true" target="_blank" i18n-value="sniplet.add.post"/>
	</div>
	<div class="row vertical-spacing" ng-if="display.showCreateBlog">
		<div class="twelve cell">
			<div class="row">
				<input type="text" class="twelve cell" ng-model="newPost.title" ng-placeholder="title" />
			</div>
			<div class="row">
				<html-editor ng-model="newPost.content"></html-editor>
			</div>
			<div class="row">
				<button ng-click="addPost()" class="right-magnet"><i18n>publish</i18n></button>
				<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="display.showCreateBlog=false"/>
			</div>
		</div>

	</div>
</resource-right>

<div ng-repeat="post in blog.posts.all" class="articles-sniplet">
	<div class="row" ng-if="!post.edit">
		<div class="cell">
			<h2 class="upper-title">
				<span class="warning-text-badge" ng-if="post.state === 'DRAFT'"><i18n>draft</i18n></span>
				<span class="warning-text-badge" ng-if="post.state === 'SUBMITTED'"><i18n>submitted</i18n></span>
				[[post.title]]
			</h2>
			<em class="subtitle">
				<i18n>post.author</i18n> <a href="/directory/annuaire#[[post.author.userId]]">[[post.author.username]]</a> <i18n>post.date</i18n> [[formatDate(post.created.$date)]]
			</em>
		</div>
		<div class="right-magnet cell">
			<button ng-if="post.state === 'DRAFT'" ng-click="publish(post)" class="cell">
				<i18n ng-if="blog.myRights.publishPost">publish</i18n>
				<i18n ng-if="!blog.myRights.publishPost">blog.submitPost</i18n>
			</button>
			<resource-right class="cell" name="publishPost" resource="blog">
				<button ng-click="publish(post)" ng-if="post.state === 'SUBMITTED'">
					<i18n>publish</i18n>
				</button>
			</resource-right>
			<resource-right class="cell" name="editPost" resource="blog">
				<button type="button" ng-click="post.edit = true;" ng-if="post.author.userId === me.userId || blog.owner.userId === me.userId">
					<i18n>edit</i18n>
				</button>
			</resource-right>
			<resource-right class="cell" name="removePost" resource="blog">
				<button type="button" ng-click="removePost(post)" ng-if="post.author.userId === me.userId || blog.owner.userId === me.userId">
					<i18n>remove</i18n>
				</button>
			</resource-right>
		</div>
	</div>
	<div class="row" ng-if="post.edit">
		<div class="row">
			<input type="text" class="twelve cell" ng-model="post.title" />
		</div>
		<div class="row">
			<html-editor ng-model="post.content"></html-editor>
		</div>
		<div class="row">
			<input type="button" class="right-magnet cell" ng-click="saveEdit(post)" i18n-value="save" />
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="post.edit=false"/>
		</div>
	</div>
	<div class="row" ng-if="!post.edit">
		<div bind-html="post.content"></div>
	</div>
</div>